#grid-header {
  font-family: 'helvetica_neue_lt_27ultraLtCn';
  font-size: 38px;
  font-weight: normal;
  letter-spacing: 2.5px;
  margin: 0 0 40px;
  text-shadow: 0 4px 3px rgba($black, .4), 0 8px 13px rgba($black, .1), 0 18px 23px rgba($black, .1);
}

.pattern {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;

  svg {
    height: 100%;
    width: 100%;
  }
}

.pattern--hidden {
  opacity: 0;
  visibility: hidden;

  .polygon {
    transition-duration: 0;
  }
}

.polygon {
  fill: transparent;
  transform: scale(1);
  transform-origin: center bottom;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.polygon--hidden {
  opacity: 0;
  transform: scale(0);
}

.ff .polygon {
  transform: scale(1);
}

.card__container {
  height: 100%;
  left: 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transform: translate3d(0, 0, 0);
  width: 100%;
}

.card__image {
  display: block;
  height: 100%;
  left: 50%;
  max-height: 500px;
  position: relative;
  transform: translateX(-50%);
}

svg image {
  background-color: $green;
}

.card__video {
  display: none;
  height: 100%;
  left: 50%;
  max-height: 500px;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}

.card__content {
  background: $white;
  color: darken($grey, .6);
  height: auto;
  margin: 0 auto;
  padding: 30px 0 22px;
  position: relative;
  width: 100%;
}

.card__caption {
  font-size: 2em;
  margin: 0 auto;
  max-width: 900px;
  padding: 35px 30px 0;
}

.card__title a {
  color: lightn($black, .3);
  font-family: 'helvetica_neue_lt_pro47LtCn';
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1;
  margin: 5px 0 0;
}

.card__subtitle {
  color: darken($grey, .1);
  font-size: .95em;
  line-height: 1;
  margin: 5px 0 0;
}

.card__copy {
  color: darken($grey, .5);
  font-size: 1.25em;
  margin: 0 auto;
  max-width: 900px;
  padding: 25px 30px 100px;

  p:first-of-type {
    font-size: 1.5em;
    padding: 0 0 1em;
  }
}

.card__btn-close {
  cursor: pointer;
  font-size: 18px;
  padding: 36px;
  position: absolute;
  right: 0;
  top: 0;
}

.meta {
  align-items: center;
  display: flex;
  font-size: .85em;
  padding: 0 0 35px;
}

.meta__avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.meta__author,
.meta__date {
  font-weight: bold;
  padding: 0 15px;
}

.nsfw {
  border: 1px solid;
  border-radius: 3px;
  color: $red;
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  padding: 0 4px;
}

.card__container--closed {
  overflow: hidden;
  position: absolute;

  .card__image {
    cursor: pointer;
  }

  .card__content {
    background: transparent;
    margin-top: 0;
    padding: 5px 16px;
    pointer-events: none;
  }

  .card__caption {
    font-size: 1em;
    max-width: none;
    padding: 30px 10px;
    transform: translateY(-100%);
  }

  .card__btn-close {
    display: none;
  }

  .card__subtitle {
    color: darken($white, .3);
  }

  .card__title {
    color: $white;
  }

  .meta {
    visibility: hidden;
  }
}
@media only screen and (max-width: 980px) {
  .card {
    padding-bottom: 32.2%;
    width: 46%;
  }

  .card__image,
  .card_video {
    max-height: 360px;
  }

  .card__content {
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 580px) {
  .card {
    padding-bottom: 67.2%;
    width: 96%;
  }
}
@media only screen and (max-width: 400px) {
  .card__caption {
    font-size: 1.25em;
    padding: 35px 0 0;
  }

  .meta {
    padding: 0 0 25px;
  }

  .card__copy {
    font-size: 90%;
    padding: 25px 0 100px;
  }
}
