// bower:scss
// endbower
@import 'colors';
@import 'responsive';
@import 'header';
@import 'slideshow';
@import 'grid';

body {
  font-family: 'helvetica_neue_lt_pro45_light';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 0;
}

md-content#content {
  background-attachment: scroll;
  background-color: transparent;
  background-image: url('/images/bg.png');
  background-position: top center;
  background-repeat: repeat;
}
md-toolbar.md-subtoolbar {
  background-color: rgba(lighten($brand-green, 10%), .9);
  z-index: 0;
}
a {
  color: lighten($brand-grey, .4);
  outline: none;
  text-decoration: none;
  transition: all .25s ease;

  &:hover {
    color: $brand-red;
  }
}

#loading {
  .sk-folding-cube {
    height: 60px;
    left: 50%;
    margin: 60px auto;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%) rotateZ(45deg);
    width: 60px;
    z-index: 1001;

    .sk-cube::before {
      background-color: $brand-red;
    }
  }

  &::after {
    background-color: rgba($black, .8);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.capitalize {
  text-transform: capitalize;
}

.ng-cloak,
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[x-ng-cloak] {
  display: none;
}

.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-feature-settings: 'liga';
  font-size: 24px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
}

.dialog-info {
  background-color: $brand-red;
  bottom: 0;
  font-family: 'helvetica_neue_lt_pro47LtCn';
  padding-left: 10px;
  padding-top: 10px;
  position: absolute;
  right: 0;
  top: 0;

  #active {
    font-size: 14px;
  }
}

i:focus,
img:focus,
md-grid-list:focus,
md-grid-tile:focus,
svg:focus {
  outline: none;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/materialicons.woff2') format('woff2');
}
@font-face {
  font-family: 'helvetica_neue_lt_pro45_light';
  src: url('../fonts/helveticaneueltpro-lt-webfont.eot');
  src: url('../fonts/helveticaneueltpro-lt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneueltpro-lt-webfont.woff') format('woff'), url('../fonts/helveticaneueltpro-lt-webfont.ttf') format('truetype'), url('../fonts/helveticaneueltpro-lt-webfont.svg#helvetica_neue_lt_pro45_light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helvetica_neue_lt_pro47LtCn';
  src: url('../fonts/helveticaneueltpro-ltcn-webfont.eot');
  src: url('../fonts/helveticaneueltpro-ltcn-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneueltpro-ltcn-webfont.woff') format('woff'), url('../fonts/helveticaneueltpro-ltcn-webfont.ttf') format('truetype'), url('../fonts/helveticaneueltpro-ltcn-webfont.svg#helvetica_neue_lt_pro47LtCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helvetica_neue_lt_27ultraLtCn';
  src: url('../fonts/helveticaneueltpro-ultltcn-webfont.eot');
  src: url('../fonts/helveticaneueltpro-ultltcn-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneueltpro-ultltcn-webfont.woff') format('woff'), url('../fonts/helveticaneueltpro-ultltcn-webfont.ttf') format('truetype'), url('../fonts/helveticaneueltpro-ultltcn-webfont.svg#helvetica_neue_lt_27ultraLtCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
