<md-dialog aria-label="{{dialog.data.title}}" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{dialog.data.title}}</h2>
                <span flex></span>
                <div layout="row" layout-xs="column" class="dialog-info">
                	<div flex="75">
	                	<div ng-if="dialog.data.subscribers" id="readers">{{dialog.data.subscribers | number}} Readers</div>
	                    <div ng-if="dialog.data.accounts_active" id="active">{{dialog.data.accounts_active | number}} ONLINE NOW</div>
	                </div>
	                <div flex="25">
	                    <md-button class="md-icon-button" ng-click="dialog.close()">
	                        <i aria-label="Close dialog" class="material-icons">close</i>
	                    </md-button>
	                </div>
                </div>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <p ng-bind-html="dialog.html(dialog.data.description_html)" ng-if="dialog.data.description_html"></p>
                <p ng-bind-html="dialog.html(dialog.data.submit_text_html)" ng-if="dialog.data.submit_text_html"></p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="dialog.close()" md-autofocus>
                Ok
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>